  @*I replace my content of views/HelloWorld/Index.cshtml razor view with following code*@


@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Hello from our View Template this is my first project about Doll!</p>