  @*I replace my content of views/HelloWorld/Index.cshtml razor view with following code*@


@{
    ViewData["Title"] = "Doll List";
}

<h2>My Doll List</h2>

<p>Hello from our View Template this is my first project about Doll!</p>